/* Reset padding and margin */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 64px 32px;
  font: 18px/1.5 "Avenir", "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

header,
footer {
  max-width: 90ex;
  margin: 0 auto;
}

header {
  padding-bottom: 32px;
  border-bottom: 2px solid #ccc;
}

footer {
  padding-top: 16px;
  text-align: right;
}

h1 {
  margin-bottom: 32px;
  color: #bb2279;
}

a {
  text-decoration: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2;
}

#info {
  text-align: right;
}

#date-range-container {
  margin-bottom: 20px;
}

#chart-range-container {
  width: 80%;
}

#writeup {
  width: 1100px;
  text-align: left;
}